/* Estilos para la imagen */
.image {
  width: 100%;
  height: 200px; /* Altura fija para la imagen */
  object-fit: cover; /* Ajusta la imagen al contenedor */
}

/* Estilos para el contenedor de la carta */
.container-product {
  width: 300px; /* Ancho fijo para la carta */
  height: auto; /* Altura automática para el contenido */
  background-color: steelblue;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

/* Estilos adicionales para la card */
.card:hover {
  transform: scale(1.02); /* Efecto de escala al hacer hover */
  transition: transform 0.3s ease; /* Transición suave */
}
